{
    "presets": ["@babel/preset-env"],
    "sourceMaps": true,
    "minified": false,
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "transform-object-entries",
        "object-values-to-object-keys",
        "add-module-exports",
        "transform-async-to-generator"
    ]
}
